attrs==18.2.0
beautifulsoup4==4.6.3
boto==2.48.0
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
diskcache==2.9.0
Flask==1.0.2
gunicorn==19.4.5
idna==2.7
imdbpie==5.6.3
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
python-dateutil==2.7.4
requests==2.20.0
six==1.11.0
trans==2.1.0
urllib3==1.24
Werkzeug==0.14.1
Flask-Sockets
gevent-websocket
gevent


